<!--banner strat here-->
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <div class="col-md-6 banner-left">
                <a href="single.html"><img src="images/ba.png" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-6 banner-right simpleCart_shelfItem">
                <span class="bann-heart"> </span>
                <h2>Handbags</h2>
                <h1>Sed perspiciatis unde</h1>
                <h5 class="item_price">$200.00</h5>
                <ul class="bann-small-img">
                    <li><a href="single.html"><img src="images/b1.jpg"></a></li>
                    <li><a href="single.html"><img src="images/b2.jpg"></a></li>
                </ul>
                <h6>Size Charts</h6>
                <ul class="bann-btns">
                    <li>
                        <select class="bann-size">
                            <option value="select your location">Size</option>
                            <option value="saab">Small</option>
                            <option value="fiat">Medium</option>
                            <option value="audi">Large</option>
                        </select>
                    </li>
                    <li><a href="#" class="item_add">Add To Cart</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--banner end here-->