@using Mango.Services
@using Mango.Web
@using Mango.Common
@using Mango.Data.Enums
@using Mango.Security
@{
    var user = UserService.GetUserInfo();
}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <div class="user-details">
                <div class="overlay"></div>
                <div class="text-center">
                    <img src="@(user.Image.NotEmpty() ? Url.Content(user.Image) : Url.Content("~/Content/Upload/default.png"))" alt="user-img" class="thumb-md img-circle">
                </div>
                <div class="user-info">
                    <div>
                        <a href="#setting-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@user.FullName <span class="mdi mdi-menu-down"></span></a>
                    </div>
                </div>
            </div>

            <div class="dropdown" id="setting-dropdown">
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)"><i class="mdi mdi-face-profile m-r-5"></i> Profile</a></li>
                    <li><a href="javascript:void(0)"><i class="mdi mdi-logout m-r-5"></i> Logout</a></li>
                </ul>
            </div>

            <ul>
                <li class="menu-title">Menu</li>

             
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple"></i> <span> Quản trị viên </span> <span class="menu-arrow"></span></a>

                    <ul class="list-unstyled">
                        @if (UserPermission.Has(Permission.User_View) || user.IsAdminRoot || user.IsAdminCompany)
                        {
                            <li class=""><a href="@Url.Action("Index", "User")">Quản lý quản trị viên</a></li>
                        }
                        @if (UserPermission.Has(Permission.GroupPermission_View) || !user.IsAdminRoot || user.IsAdminCompany)
                        {
                            <li class=""><a href="@Url.Action("Index", "GroupPermission")">Quản lý vai trò</a></li>
                        }
                    </ul>
                </li>         
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

        <div class="help-box">
            <h5 class="text-muted m-t-0">Cần giúp đỡ ?</h5>
            <p class=""><span class="text-dark"><b>Email:</b></span> <br /> tytv@magik.vn</p>
            <p class="m-b-0"><span class="text-dark"><b>Call:</b></span> <br /> (+84) 1677012829</p>
        </div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
